<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Rerum eveniet, id perspiciatis cupiditate eligendi minus dolorum obcaecati 
            tempora voluptatem iste sunt corrupti modi sapiente atque provident porro 
            doloribus voluptates laborum?
        </p>
    </div>
</div>