<div class="jumbotron mt-4">
    <h1 class="display-4">Notes-App Nodejs and MongoDB</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nobis aliquam quo impedit facilis corporis sunt cum excepturi laudantium, nam quos a officiis dignissimos placeat, reprehenderit eveniet assumenda? Nihil, hic?</p>
    <a href="https://www.linkedin.com/in/edgar-augusto-linarez-hernandez-3184b493/" target="_blank" class="btn btn-primary btn-lg">Edgar Linarez</a>
</div>